.logo{
	max-height: 100px;
}
.logo img{
	padding: 10px;
}
.logo h1,.logo h2{
	display: inline-block;
    vertical-align: bottom;
}
.navbar ul.grid{
	width: 570px;
}
.navbar ul.grid li{
	padding: 2px ;
	float:left;
}
.navbar-text {
	display: inline-block;
}
.navbar ul.grid li a{
	display:block;
	border:none;
}
@media only screen and (min-width : 768px) {
    /* Make Navigation Toggle on Desktop Hover */
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

.footer {
	margin-top : 200px;
    background-color:  #5f5f5f;
    bottom: 0;
    width: 100%;
}
.footer *{
	text-align: center;
	color: white !important;
}

