<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<script src="js/jquery-3.1.0.js"></script>
	<script src="js/vue.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap-hover-dropdown.js"></script>
	<link rel="stylesheet" href="css/bootstrap.css"></link>
	<link rel="stylesheet" href="css/mynavbar.css"></link>
	<link rel="stylesheet" href="css/markdown.css"></link>
	<title>123</title>
</head>
<body>

	<img src="img/alwayslogo.png" height="80" alt="">

	<nav class="navbar navbar-default ">
		<div class="container-fluid">
			 <!-- <button id="sidebar_collapse" class="btn" data-toggle="collapse" data-target="#sidebar_id">Collapsible</button> -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				<a href="index.html">
					<img src="img/2016_1_logo.png"  height="40">
				</a>
			</div>
			<div class="collapse navbar-collapse" id="nav-collapse">
				<ul class="nav navbar-nav"  id="navbar">
					<li v-for="nav in nav_bar">
						<a href="">{{nav}}</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="100" data-close-others="false">
							{{clubs}}<b class="caret"></b>
						</a>
						<ul class="dropdown-menu grid">
							<li v-for="club in clubs_name">
								<a href="#">{{club}}</a>
							</li>
							<!--
							<li><a tabindex="-1" href="#">My Account</a></li>
							<li class="divider"></li>-->
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!--navbar end-->

<style>
#qa{
	overflow: auto;
}
#qa div{
	display: block;
	width: 70%;
	padding :5px 8px 4px;
	margin: 5px;
	border-radius: 12px;
}
.question{
	float:right;
	background-color: #4080ff;
	color: #fff;
	border-top-right-radius: 2px !important;
}
.answer{
	float:left;
	background-color: #f1f0f0;
	color: #4b4f56;
	border-top-left-radius: 2px !important;
	margin-bottom:15px !important;
}

.sidebar{
	position: relative;
	padding-left: 50px;
}
.sidebar ul{
	line-height: 1.8em;
    list-style-type: none;
    margin: 0;
	margin-right: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 2.2em 0;
}
.sidebar ul li a{
	color : #34495e;
}

.active{
	color :#42b983 !important;
	font-size : 110%;
}
.connect p{
	text-indent : 15px;
}
.connect h4{
	text-indent : 7px;
}
.footer {
	margin-top : 200px;
    background-color:  #5f5f5f;
    bottom: 0;
    width: 100%;
	text-align: center;
	color: white;
}
@media (max-width:768px ) {
.sidebar{
	display: none;
}
}
@media (min-width:768px ) {
.mobile-title{
	display: none;
}
#sidebar_collapse{
	display: none;
}
}
</style>
	<div class="markdown container-fluid" id="club">
		<div class="row">
			<div class="col-sm-2">
				<div  class="sidebar" v-bind:style="sidebar_style" id="sidebar_id">
					<h1> {{name}} </h1>
					<ul>
						<li v-for="intro in main_intros">
							<a v-bind:href="('#'+intro.id)" v-bind:class="intro.id == activeid ? 'active' : ''">{{intro.name}}</a>
						</li>
							
					</ul>
				</div>
			</div>

			<div class="col-sm-6">
				<h1 class='mobile-title'> {{name}} </h1>
				<div v-for="intro in main_intros" v-bind:id="intro.id">
					<h2>{{intro.name}}
						<a v-bind:href="('#'+intro.id)" class="glyphicon glyphicon-tags" style="font-size:20px"></a>
					</h2>
					<hr>
					<template v-if="intro.id=='qa'">
						<template v-for="qa in intro.content">
							<div class="question"> {{qa.q}} </div>
							<div class="answer">   {{qa.a}} </div>
						</template>
					</template>
					<template v-else> <!-- why not else if -->
						<ul v-if="intro.id=='course_intro'">
							<li v-for="courselist in intro.content">
								{{courselist}}
							</li>
						</ul>
						<div v-else> {{{intro.content}}} </div>
					</template>
					<br><br>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="connect" style="padding-left: 10px">
					<h2>聯絡資訊</h2>
					<h3>社長</h3>
					<p>{{con.president}}</p>
					<h3>email</h3>
					<p>{{con.email}}</p>
					<h3 v-if="con.blog">部落格</h3>
					<p> <a v-bind:href="con.blog">{{con.blog}}</a> </p>
					<h3 v-if="con.fb">FB</h3>
					<p> <a v-bind:href="con.fb.link">{{con.fb.name}}</a> </p>
					<h3>迎新</h3>
					<div v-for="wel in welcomes">
						<h4> {{wel.title}} </h4>
						<p> 時間: {{wel.time}} </p>
						<p> 地點: {{wel.location}} </p>
					</div>
					<h3>上課</h3>
					<div v-for="wel in courses">
						<h4> {{wel.title}} </h4>
						<p> 時間: {{wel.time}} </p>
						<p> 地點: {{wel.location}} </p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer class="footer">
      <div class="container">
        <p >Author : linnil1</p>
        <p >Email : linnil1.886@gmail.com</p>
        <p >Tool : Vuejs, Bootstrap</p>
        <p >Club : 楊氏廣法太極拳社</p>
      </div>
    </footer>

</body>

	<script>

var club = new Vue({
	el: "#club",
	data: {
		activeid : "",
		sidebar_style : {},
		main_intros: [ {
			id : "short_intro",
			name: "簡介",
			content:`
<p>台大太極拳社練習的是鄭曼青先生所創之鄭子太極；鄭曼青先生師承楊澄甫先生，為了教學省時簡便，將楊氏老架108式改為鄭子太極37式。</p>
<p>練習太極拳可改善體質，解決冬天手腳冰冷的困擾，也可以培養耐心與自我覺察。歡迎有興趣的同學一同加入練習。</p>
<p>本社在教學過程中，透過反覆思辨、實踐的歷程，將「心為令」、「其根在腳，發於腿，主宰於腰」的深奧拳理，落實為對身體及心靈的全面掌握。</p>
<p><strong>上課準備事項 : 請穿著寬鬆服裝；攜帶擦汗毛巾；乾淨軟、平底鞋。</strong></p>
`

		},{
			id : "course_intro",
			name: "教學內容",
			content: [ 
				"鄭子太極37式拳架",
				"熊經、鳥伸等基本養生功",
				"推手與發勁等"
			]

		},{
			id: "qa",
			name: "Q-A",
			content:[{
				q: "本社所練習的太極拳與其他太極拳的差別？",
				a: "內容上練習鄭子三十七式，鄭子太極的招式較少，拳架學習時間較短，且練習空間需求小，隨時隨地都能練習，同樣能達到鬆柔之境界，利於推廣給社會大眾。"
			},{
				q: "太極拳有什麼吸引人的地方？",
				a: "在練習的過程中，將注意力集中在身體鬆柔的變化，藉由身體的鬆沉帶來心情的安定與平靜，使一天忙碌的身心疲憊得以回復。"
			},{
				q: "太極拳的實際效益是什麼？",
				a: "藉由拳理的立身中正，延伸到做人處事的道理，並在練習鬆柔的過程中，培養對自身身體變化的感知，進而推展到日常生活，對周遭情勢的變化更為敏感。"
			}]
		}],
		con : {
			president: "范思晴",
			email : "taida.taichi@gmail.com",
			blog : "taida-taichi.blogspot.com",
			fb : {
				name : "台大太極拳社 NTU Taichi Club",
				link : "https://www.facebook.com/台大劍道社-粉絲團-295543953792001/"
			}
		},
		name : "台大太極拳社",
		courses :[{
			time: "星期五, 18:30~21:00",
			location: "二活 503",
			title: "社課"		
		}],
		welcomes:[{
			time: "2016/09/23 19:00",
			location: "二活 503",
			title: "社課"		
		}],
	},

	methods: {
		updatescroll : function(){
			this.scroll = document.documentElement.scrollTop

			// side bar fix or not
			var onsidebar = document.getElementsByClassName("navbar")[0].scrollHeight + document.getElementsByTagName("img")[0].scrollHeight
			console.log(this.scroll)
			if( this.scroll >= onsidebar)
			{
				this.sidebar_style = { 
					position: "fixed" ,
					top : "0",
					width :$(".col-sm-2").width()+"px"
				}
			}
			else{
				this.sidebar_style = { 
					position: "relative",
					top : "0"

				 }
			}

			// sidebar link active or not
			for(var i in this.main_intros){
				var intro = this.main_intros[i]
				if(intro.element.offsetTop+intro.element.offsetHeight > this.scroll ){
					this.activeid = intro.id;
					break;
				}
			}
		
		}
	},
	ready: function(){
		for(var i in this.main_intros){
			var intro = this.main_intros[i]
			intro['element'] = document.getElementById(intro.id)
			console.log(intro)
		}
		document.addEventListener('scroll',this.updatescroll)
	},
	destroyed: function(){
		document.removeEventListener('scroll',this.updatescroll)
	}

	
})


var navbar = new Vue({
	el : "#navbar",
	data :{
		clubs : '社團',
		clubs_name : ['太極拳研究社', '少林拳社', '國術社', '男子國術校隊(國術校隊)', '楊氏廣法太極拳社', '八步螳螂拳社', '綜合格鬥社', '合氣太極社', '內家武學社', '跆拳道社', '劍道社', '楊太極武藝社', '椰林合氣道社', '居合道社', '截拳道社', '技擊散打社', '空手道社', '詠春拳社', '柔道社'],
		
		nav_bar : [ '課表', '攤位', '表演節目']
	},
})
	</script>


</html>
