<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<script src="js/jquery-3.1.0.min.js"></script>
	<script src="js/vue.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-hover-dropdown.min.js"></script>
	<script src="js/vue-scroll.js"></script>
	<link rel="stylesheet" href="css/bootstrap.css"></link>
	<link rel="stylesheet" href="css/mynavbar.css"></link>
	<link rel="stylesheet" href="css/markdown.css"></link>
	<title>123</title>
</head>
<body >

	
	<img src="img/alwayslogo.png" height="80" alt="">

	<nav class="navbar navbar-default ">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				<a href="index.html">
					<img src="img/2016_1_logo.png"  height="40">
				</a>
			</div>
			<div class="collapse navbar-collapse" id="nav-collapse">
				<ul class="nav navbar-nav"  id="navbar">
					<li v-for="nav in nav_bar">
						<a href="">{{nav}}</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="100" data-close-others="false">
							{{clubs}}<b class="caret"></b>
						</a>
						<ul class="dropdown-menu grid">
							<li v-for="club in clubs_name">
								<a href="#">{{club}}</a>
							</li>
							<!--
							<li><a tabindex="-1" href="#">My Account</a></li>
							<li class="divider"></li>-->
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!--navbar end-->


	<!-- course -->
<style>
.background-devide{
	border-bottom: 1px dotted #ddd;
    border-top: 1px solid #ddd;
	height:21px;
}
.background-box{
	height:42px;
}
.background-all{
	position: relative;
	z-index : -5;
}
.background-hour{
	position: absolute;
    width: 100%;
}

table{
/*	empty-cells:show;
    border: 1px solid black; */
	margin: auto;
	font-size: 20px;
	overflow: scroll;
	position: relative;
}
tr td{
	min-width : 48px;
	/*
	width: 42px;
  border: 1px solid black; 

    display: table-cell; */
}

.coursetime{
	height:42px;
    text-align: right;
    vertical-align: top;
	padding: 1px 2px 0 0;
    border: 0;
	position: relative;
	top: -10px;
}
.day{
	border-right : 1px solid #ddd;
	vertical-align: top;
}
.event{
	vertical-align: top;
	display: inline-block;
	position: absolute;
	border: 1px solid green ;
	margin: 0px;
	background-color: #9f3;
	width : 48px;
	font-size: 15px;
    word-wrap: break-word;
	overflow: hidden;
}

</style>

<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-6" id="main">
		<table id="course">
			<tr>
				<th></th>
				<th v-for="wn in weekname" style="text-align:center">{{wn.slice(2,3)}}</th>
			</tr>
			<tr style="height:1px;">
				<td style="width:60px;"></td>
				<td colspan="7">
					<div class="background-all">
						<div class="background-hour">
							<div class="background-box" v-for="i in 14">
								<div class="background-devide"></div>
							</div>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="coursetime" v-for="i in 14">{{i+8+":00"}}</td>
				</td>
				<td class="day" v-for="wevt in weekevents"> 
					<div style="position:relative" v-bind:style="daywidth[$index]">
						<div class="event" v-for="evt in wevt" v-on:mouseover="hoveOnevent(evt,$event)" v-bind:style="evt.style">
							<span>{{evt.name}}</span>
							<span style="font-size:small">{{"("+evt.title+")"}}</span>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<div class="col-sm-3"></div>
</div>

	<footer class="pull-right">
		 <p>This web is made by linnil1 by bootstrap and vuejs </p>
	</footer> 
	<script>
var navbar = new Vue({
	el : "#navbar",
	data :{
		clubs : '社團',
		clubs_name : ['太極拳研究社', '少林拳社', '國術社', '男子國術校隊(國術校隊)', '楊氏廣法太極拳社', '八步螳螂拳社', '綜合格鬥社', '合氣太極社', '內家武學社', '跆拳道社', '劍道社', '楊太極武藝社', '椰林合氣道社', '居合道社', '截拳道社', '技擊散打社', '空手道社', '詠春拳社', '柔道社'],
		
		nav_bar : [ '課表', '攤位', '表演節目']
	}
})



var weeknames = ['星期日','星期一', '星期二', '星期三', '星期四', '星期五', '星期六']


weekGet = function(weekstr){
	return weeknames.indexOf(weekstr.trim())
}

intervalGet = function(twotimes,timepx){
	var arr =  twotimes.split('~')
	var start = pxGet(arr[0],timepx)
	var end   = pxGet(arr[1],timepx)
	return {
		top: start+"px",
		height: end-start+"px"
	}
}


pxGet = function(yourtime,timepx){
	var arr = yourtime.split(':')
	var hour = arr[0]|0
	var mins = arr[1]|0
	return (hour*60+mins-480)*timepx/60
}

pxRemove = function(text){
	return text.slice(0,-2)|0
}

var course= new Vue({
	el : "#course",
	data : {
		weekname: weeknames,
		timepx  : 42,
		widthpx : 48
	},
	created: function(){
		var events = [ [],[],[],[],[],[],[] ]
		var data = {
			楊氏廣法太極拳社:{
				courses : [ { 
					time :'星期六, 18:00~21:00',
					title:'社課'},{
					time:'星期三, 18:30~21:30',
					title: '團練'},{
					time:'星期六, 15:30~17:30',
					title: 'test'}]
			},
			少林拳社:{
				courses : [ { 
					time :'星期六, 17:00~22:00',
					title:'社課'}]
			},
			國術社:{
				courses : [ { 
					time :'星期六, 19:20~20:10',
					title:'社課'}]
			}}

		// put data into weeks array
		for(var dname in data) {
			var courses = data[dname].courses
			for(var course in courses) {
				var cour = courses[course]
				var timearr = cour['time'].split(',')
				events[ weekGet( timearr[0] ) ].push({
						style : intervalGet(timearr[1],this.timepx),
						name  : dname,
						title : cour.title,
						time  : cour.time,

				})
			}
		}

		// sorted
		for(var evt in events)
			events[evt].sort(function(a,b){return a.style.top > b.style.top})

		//find min lines
		this.daywidth = []
		for(var evt in events){
			var endtimes = []
			for(var e in events[evt]){
				var tmp = events[evt][e]
				var line = function(style){
					var i
					for(i in endtimes)
						if( endtimes[i] <= pxRemove(style.top) )
							return i
					return endtimes.length
				}(tmp.style)
				tmp.style.left = this.widthpx*line + "px"
				endtimes[line] = pxRemove(tmp.style.top) + pxRemove(tmp.style.height)
			}
			// find each day width
			dayw = endtimes.length*this.widthpx
			if( dayw == 0)
				dayw = this.widthpx
			this.daywidth[evt]={width:dayw+"px"}
		}
		this.weekevents = events
	},
	destroy: function(){
		alert("123")
	},
	methods:{
		hoveOnevent: function(evt,domevt){
			dom = $(domevt.target)
			if( dom.prop("tagName").toLowerCase() != "div")
				return
			console.log(dom)
			dom.popover({
				html : true, 
				container: 'table',
				trigger:"hover",

				title: "<a href=''>"+evt.name+"</a>",
				content:"<p>"+evt.title+"<br>"+evt.time+"</p>",
			})
			dom.popover('show')
		}
	}
})


	</script>
</body>
</html>
