<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<script src="js/jquery-3.1.0.min.js"></script>
	<script src="js/vue.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-hover-dropdown.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.css"></link>
	<link rel="stylesheet" href="css/mynavbar.css"></link>
	<title>123</title>
</head>
<body>

	<img src="img/alwayslogo.png" height="80" alt="">

	<nav class="navbar navbar-default" id="navbar">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				<a href="" v-on:click="urlGo('app=home')">
					<img src="img/2016_1_logo.png"  height="40">
				</a>
			</div>
			<div class="collapse navbar-collapse" id="nav-collapse">
				<ul class="nav navbar-nav" >
					<li v-for="nav in nav_bar">
						<a href="" v-on:click="urlGo(nav.dirurl)">{{nav.name}}</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="100" data-close-others="false">
							{{clubs}}<b class="caret"></b>
						</a>
						<ul class="dropdown-menu grid">
							<li v-for="club in clubs_name">
								<a href="#">{{club}}</a>
							</li>
							<!--
							<li><a tabindex="-1" href="#">My Account</a></li>
							<li class="divider"></li>-->
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!--navbar end-->

	<p id="test">{{href}}</p>
	<div id="main"></div>
	

</body>

	<script src="all.js"></script>
	<script>
var navbar = new Vue({
	el : "#navbar",
	data :{
		clubs : '社團',
		clubs_name : ['太極拳研究社', '少林拳社', '國術社', '男子國術校隊(國術校隊)', '楊氏廣法太極拳社', '八步螳螂拳社', '綜合格鬥社', '合氣太極社', '內家武學社', '跆拳道社', '劍道社', '楊太極武藝社', '椰林合氣道社', '居合道社', '截拳道社', '技擊散打社', '空手道社', '詠春拳社', '柔道社'],
		
		nav_bar : [ { 
			name: '課表',
			dirurl: "app=course" 
		}, {
			name: '攤位',
			dirurl: ""
		},{
			name: '表演節目',
			dirurl: ""
		}],
	},
	methods : {
		urlGo : function(text){
			console.log("redirect")
			window.history.pushState('', '', '/?'+text);
		}
	}

})


var paramGet = function(text){
	if(text[0]!='?')
		throw "?"
	var text = text.slice(1,test.length)
	var arr = text.split('&')
	var dict ={}
	for(var a in arr){
		qa = arr[a].split('=')
		if(qa.length!=2)
			throw "length != 2"
		dict[decodeURIComponent(qa[0])] = decodeURIComponent(qa[1])
	}
	return dict
}


var url = new Vue({
	el : "#test",
	data:{
		href : window.location.href
	} ,
	computed: {
		href : function(){
			var parser = document.createElement('a')
			parser.href = this.$data.href
			try{
				var dict = paramGet(parser.search)
				console.log(dict)
				if('app' in dict)
					if(dict.app == 'home')
					{
						$('#main').empty()
						$('#main').append(home_html)
						mainvnew = new Vue(home_vue)
						return 
					}
					else if(dict.app == 'course')
					{
						$('#main').empty()
						$('#main').append(course_html)
						mainvnew = new Vue(course_vue)
						return
					}
				throw("not found")
				$('#main').empty()
			}
			catch(err){
				console.log("strange url")
				window.history.pushState('', '', '/');
			}
			console.log(123)
			return this.$data.href
		}
	},
	ready:function(){
		self = this
		setInterval(function () {
			 self.$data.href = window.location.href
		  }, 1000)
	}
})
	</script>

</html>
