<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="js/jquery-3.1.0.min.js"></script>
	<script src="js/vue.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-hover-dropdown.min.js"></script>
	<script src="js/vue-scroll.js"></script>
	<link rel="stylesheet" href="css/bootstrap.css"></link>
	<link rel="stylesheet" href="css/mynavbar.css"></link>
	<link rel="stylesheet" href="css/markdown.css"></link>
	<title>123</title>
</head>
<body >

	
	<img src="img/alwayslogo.png" height="80" alt="">

	<nav class="navbar navbar-default ">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				<a href="index.html">
					<img src="img/2016_1_logo.png"  height="40">
				</a>
			</div>
			<div class="collapse navbar-collapse" id="nav-collapse">
				<ul class="nav navbar-nav"  id="navbar">
					<li v-for="nav in nav_bar">
						<a href="">{{nav}}</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="100" data-close-others="false">
							{{clubs}}<b class="caret"></b>
						</a>
						<ul class="dropdown-menu grid">
							<li v-for="club in clubs_name">
								<a href="#">{{club}}</a>
							</li>
							<!--
							<li><a tabindex="-1" href="#">My Account</a></li>
							<li class="divider"></li>-->
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!--navbar end-->


	<!-- course -->

<div class="container-fluid" id="coursedrag" >
<style>
.background-devide{
	border-bottom: 1px dotted #ddd;
    border-top: 1px solid #ddd;
	height:21px;
}
.background-box{
	height:42px;
}
.background-all{
	position: relative;
	z-index : -5;
}
.background-hour{
	position: absolute;
    width: 100%;
}

.course-table{
/*	empty-cells:show;
    border: 1px solid black; */
	font-size: 20px;
	position: relative;
	margin: 10px;
}
.course-table tr td{
	min-width : 48px;
	/*
	width: 42px;

    display: table-cell; */
}

.coursetime{
	height:42px;
    vertical-align: top;
	padding: 1px 2px 0 2px;
    border: 0;
	position: relative;
	top: -10px;
	z-index: 5;
}
.day{
	border-right : 1px solid #ddd;
	vertical-align: top;
}
.event{
	vertical-align: top;
	display: inline-block;
	position: absolute;
	border: 0;
	margin: 0px;
	background-color: #9f3;
	width : 48px;
	font-size: 15px;
    word-wrap: break-word;
	overflow: hidden;
}

.course-div{
	border: 1px solid black; 
	margin: 10px;
	width: 95vw;
	overflow: hidden;
}
.course-div::-webkit-scrollbar { // this not show on firefox QQ
    width: 1em;
    height: 1em;
}
 
.course-div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.course-div::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

</style>
	<!-- button -->
	<div>
		<!-- clear -->
		<div class="btn-group">
			<button type="button" class="btn btn-warning" v-on:click="showClear('')">clear</button>
			<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a v-on:click="showClear('club')" href="#">clear club</a></li>
				<li><a v-on:click="showClear('day')" href="#">clear day</a></li>
			</ul>
		</div>

		<!-- show -->
		<div class="btn-group">
			<button type="button" class="btn btn-success" v-on:click="showAll('')">all</button>
			<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a v-on:click="showAll('club')" href="#">show club</a></li>
				<li><a v-on:click="showAll('day')" href="#">show day</a></li>
			</ul>
		</div>

		<!-- clubs -->
		<div class="btn-group">
		    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			club <span class="caret"></span>
		    </button>
			<div class="dropdown-menu" style="min-width : 180px" >
				<div v-for="club in clublist">
					<input type="checkbox" v-bind:id="'club_'+club.name" v-bind:value="club.name" v-model="showclub">
					<label v-bind:for="'club_'+club.name">{{club.chinese}}</label>
				</div>
		    </div>
		</div>

		<!-- days -->
		<template v-for="name in weekname">
			<input type="checkbox" v-bind:id="'day_'+name" v-bind:value="$index" v-model="showday">
			<label v-bind:for="'day_'+name">{{name.slice(2,3)}}</label>
		</template>

		<!-- change -->
		<button type="button" class="btn btn-default" v-on:click="urlGo('app=course')">
			<span class="glyphicon glyphicon-retweet"></span> 
			mobile version</button>
	</div>

	<!-- table -->
	<div class="course-div">
		<div style="position:relative">
			<div class="coursetime" style="position:absolute" v-bind:style="{top:(i*42+25)+'px'}" v-for="i in 16">{{i+6+":00"}}</div>
		</div>
		<table class="course-table" draggable="true" v-on:dragstart="dragstart($event)" v-on:dragover="mouseGet($event)" v-bind:style="tablestyle">
			<tr>
				<th></th>
				<th v-for="sd in showday" style="text-align:center">{{weekname[sd].slice(2,3)}}</th>
			</tr>
			<tr style="height:1px;">
				<td style="width:60px;"></td>
				<td colspan="7">
					<div class="background-all">
						<div class="background-hour">
							<div class="background-box" v-for="i in 16">
								<div class="background-devide"></div>
							</div>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="coursetime" v-for="i in 16"> </div>
				</td>
				<td class="day" v-for="sd in showday"> 
					<div style="position:relative" v-bind:style="daywidth[sd].style">
						<div class="event" v-for="evt in showevents[sd]" v-on:mouseover="hoverOnevent(evt,$event)" v-bind:style="evt.style">
							<span>{{evt.chinese}}</span>
							<span style="font-size:small">{{"("+evt.course.title+")"}}</span>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>

	<footer class="footer">
      <div class="container">
        <p >Author : linnil1 (楊氏廣法太極拳社)</p>
        <p >Email : linnil1.886@gmail.com</p>
		<p >Tool : <a href="http://vuejs.org/" target="_blank">Vuejs</a>, <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> </p>
      </div>
    </footer>
	<script>
var navbar = new Vue({
	el : "#navbar",
	data :{
		clubs : '社團',
		clubs_name : ['太極拳研究社', '少林拳社', '國術社', '男子國術校隊(國術校隊)', '楊氏廣法太極拳社', '八步螳螂拳社', '綜合格鬥社', '合氣太極社', '內家武學社', '跆拳道社', '劍道社', '楊太極武藝社', '椰林合氣道社', '居合道社', '截拳道社', '技擊散打社', '空手道社', '詠春拳社', '柔道社'],
		
		nav_bar : [ '課表', '攤位', '表演節目']
	}
})



var weeknames = ['星期日','星期一', '星期二', '星期三', '星期四', '星期五', '星期六']

weekGet = function(weekstr){
	return weeknames.indexOf(weekstr.trim())
}
intervalGet = function(twotimes,timepx){
	var arr =  twotimes.split('~')
	var start = pxGet(arr[0],timepx)
	if(arr.length==1)
		arr.push("22:00")
	var end   = pxGet(arr[1],timepx)
	return {
		top: start+"px",
		height: end-start+"px"
	}
}

pxGet = function(yourtime,timepx){
	var arr = yourtime.split(':')
	var hour = arr[0]|0
	var mins = arr[1]|0
	return (hour*60+mins-360)*timepx/60
}

pxRemove = function(text){
	return text.slice(0,-2)|0
}

var ts = "105_1"
var course= new Vue({
	el : "#coursedrag",
	data : {
		weekname: weeknames,
		showday : [0,1,2,3,4,5,6],  //sorted
		showclub : [],
		clublist : [],
		timepx  : 42,
		widthpx : 48,
		daywidth : [{style:{}},{style:{}},{style:{}},{style:{}},{style:{}},{style:{}},{style:{}}],  // bug
		allevents: [],
		wantevents : [],
		mouse : { x:0, y:0, t:0 },
		tablestyle : {top:"0px",left:"0px"}
	},

	created: function(){
		$(".title-word").html("武聯-課表")

		var events = [ [],[],[],[],[],[],[] ]
		
		var self = this.$data
//		$.getJSON("data/allclubs.json", function(jsondata) {

		// put data into weeks array
		var clubs =[]
		self.clublist = [] // bug
		jsondata[ts].clubs.forEach(function(clubname){
			var club = jsondata[clubname]
			self.clublist.push( {
				name:    clubname,
				chinese: club.chinese
			})
			clubs.push(clubname)
						

			club.course[0].courses.forEach(function(cour){
				var timearr = cour['time'].split(',')
				events[ weekGet( timearr[0] ) ].push({
						style  : intervalGet(timearr[1],self.timepx),
						chinese: club.chinese,
						name   : clubname,
						course : cour
				})
			})
//		})
			self.allevents = events
			self.showclub = clubs
		})
	},

	computed: {
		showday: function(){
			return this.$data.showday.sort()
		},
		showclub: function(){
			var clubs = this.$data.showclub ,
				wants = [[],[],[],[],[],[],[]]
			for(var d in this.allevents){
				this.allevents[d].forEach( function(evt){
					if( clubs.indexOf(evt.name) != -1)
						wants[d].push(evt)
				})
			}
			this.wantevents = wants
			return clubs
		},
		showevents: function(){
			var events = this.wantevents
			// sorted
			for(var evt in events)
				events[evt].sort(function(a,b){return a.style.top > b.style.top})

			var linecolor = ["#92E1C0","#FAD165","rgb(179, 220, 108)","#42D692","rgb(255, 173, 70)","rgb(154, 156, 255)","#B99AFF"]
			//find min lines
			for(var evt in events){
				var endtimes = []
				for(var e in events[evt]){
					var tmp = events[evt][e]
					var line = function(style){
						var i
						for(i in endtimes)
							if( endtimes[i] <= pxRemove(style.top) )
								return i
						return endtimes.length
					}(tmp.style)
					var s = {
						"top"  : tmp.style.top,
						"height"  : tmp.style.height,
						"left" : this.widthpx*line + "px",
						"background-color" : linecolor[line]}
					tmp.style = s  // it can't just set the argument
					endtimes[line] = pxRemove(tmp.style.top) + pxRemove(tmp.style.height)
				}

				// find each day width
				var dayw = endtimes.length*this.widthpx
				if( dayw == 0)
					dayw = this.widthpx
				this.$data.daywidth[evt].style =  {'width': dayw+"px"}
			}
			return events
		}
	},

	methods:{
		urlGo: function(text){
			urlGo(text)
		},
		dragstart: function(e){
			var img = document.createElement("span");
			e.dataTransfer.setDragImage(img, 0, 0);
			e.dataTransfer.setData('text/plain',null)
		},
		mouseGet: function(e){
			if (Date.now() - this.mouse.t < 200){
				this.tablestyle['left'] = pxRemove(this.tablestyle['left']) -this.mouse.x + e.screenX + "px"
			}
			this.mouse = {
				x: e.screenX,
				y: e.screenY,
				t: Date.now()
			}
//			console.log(e.screenX)
//			console.log(e.screenY)
		},
		hoverOnevent: function(evt,domevt){
			dom = $(domevt.target)
			if( dom.prop("tagName").toLowerCase() != "div")
				return
//			console.log(dom)
			dom.popover({
				html : true, 
				container: 'body',
				trigger:"hover",
				placement:"top",

				title: "<a href=''>"+evt.chinese+"</a>",
				content:"<span>"+evt.course.title+"<br>"+evt.course.place+"<br>"+evt.course.time+"</span>",
			})
			dom.popover('show')
		},

		showAll: function(wantstr){
			if(wantstr != "club")
				this.$data.showday = [0,1,2,3,4,5,6]
			if(wantstr != "day")
			{
				var clubs = []
				this.clublist.forEach( function( club){
					clubs.push(club.name)
				})
				this.$data.showclub = clubs
			}
		},
		showClear: function(wantstr){
			if(wantstr != "club")
				this.$data.showday = []
			if(wantstr != "day")
				this.$data.showclub = []
		}
	}
})


	</script>
</body>
</html>
